:root {
  --light-black: #0C0C0E;
  --black: #000000;
  --gold: #BB945F;
  --white: #FFFFFF;
  --grey: #8E8E8E;
  --forum-font: 'Forum', cursive;
  --inter-font: 'Inter', sans-serif;
}
.title {
  font-family: var(--forum-font);
  font-weight: 400;
}
.text {
  font-family: var(--inter-font);
  font-weight: 400;
}
.header {
 background-color: var(--light-black);
 display: flex;
 padding: 20px 20px;
}
.header__title {
  flex: 1 1 53.3%;
  color: var(--white);
  font-size: 30px;
  line-height: 50px;
  letter-spacing: 0.6px;
}
.header__nav {
  flex: 1 1 39.4%;
}
.header__list {
  display: flex;
  justify-content: space-between;
}
.header__list-item {
  color: var(--white);
  font-size: 20px;
  line-height: 50px;
}
.header__icon {
  margin-left: 40px;
}
.welcome {
  padding: 0;
  background: linear-gradient(180deg, var(--light-black) 0%, var(--light-black) 0.01%, rgba(18, 18, 21, 0.10) 100%)
  , url(../assets/img/welcome-library.jpg) 0 50%;
  background-size: cover;
  height: 600px;
}
.welcome__wrapper {
  transform: translateY(100%);
  background: var(--light-black);
  width: 600px;
  height: 220px;
  padding: 35px 40px;
}
.welcome__title {
  color: var(--white);
  text-align: center;
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.title-section {
  color: var(--light-black);
  text-align: center;
  padding: 20px 0px;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  position: relative;
  margin-bottom: 40px;
}
.title-section::after {
  position: absolute;
  content: '';
  background-color: var(--light-black);
  height: 1px;
  width: 50px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
}
.about__text {
  color: var(--black);
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 20px;
}
.about__wrapper {
  display: flex;
  gap: 25px;
  margin-bottom: 40px;
}
.about__wrapper-img {
  flex: 1 1 31.25%;
  height: 560px;
}
.about__container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.button-wrapper {
  display: flex;
  padding: 5px;
  cursor: pointer;
}
.circle-button {
  width: 16px;
  height: 16px;
  border: none;
  border-radius: 50%;
  background-color: var(--light-black)
}
.circle-button_active {
  background-color: var(--gold)
}
.favorites__title {
}
.favorites__text {
  color: var(--black);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 40px;
}
.favorites__wrapper {
  margin-bottom: 40px;
}
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  gap: 20px;
  padding: 5px 5px 5px 0px;
  cursor: pointer;
  margin-right: 90px;
}
.custom-checkbox+label:last-child {
  margin-right: 0;
}
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  position: relative;
  width: 17px;
  height: 17px;
  border: 2px solid var(--black);
  border-radius: 50%;
}
.custom-checkbox:checked+label::after {
  position: absolute;
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--black);
  transform: translateX(5px);
}
.favorites-label {
  color: var(--black);
  font-size: 20px;
}
.favorites-label_active {
  font-weight: 700;
}
.favorites__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 260px;
}
.favorites__card {
  border: 1px solid var(--black);
  padding: 15px 0px 15px 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.favorites__card-title {
  color: var(--black);
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  position: relative;
  margin-bottom: 20px;
}
.favorites__card-title::before {
  position: absolute;
  content: '';
  height: 1px;
  width: 60px;
  background-color: var(--gold);
  bottom: 0;
}
.favorites__card-name {
  color: var(--black);
  font-size: 15px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.favorites__card-name>span {
  text-transform: capitalize;
}
.favorites__card-description {
  flex: 1 0 auto;
  color: var(--black);
  font-size: 15px;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
  width: 64.8%;
  margin-bottom: 15px;
}
.favorites__card-button {
  flex: 0 0 auto;
  color: var(--light-black);
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  width: 75px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid var(--light-black);
}
.favorites__card-active {
  color: var(--gold);
  border: 1px solid var(--gold);
}